
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1 {
    color: aliceblue;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}


/*navbar mobile*/

.nav-mobile {
    position: fixed;;
    bottom: 0;
    width: 100%;
}

.nav-mobile > nav {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #202020;
}

.nav-mobile > nav > * {
    margin: 25px;
    padding: 15px;
    border-style: none;
    background-color: transparent;
    
}

.nav-buttons {
    height: 40px;
}

/*navbar mobile*/


.nav-expanded {
    position: absolute;
    bottom: 55px;
    right: 0;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 2px 0 0 0;
    display: none;
}


.nav-expanded > .nav-expanded-list {
    padding: 25px;
    line-height: 45px;
    list-style: none;
}

.nav-expanded >.nav-expanded-list > .nav-expanded-item > a {
    font-family: Arial, Helvetica, sans-serif;
    color: #fdfdfd;
    font-size: 25px;
    text-decoration: none;
}



@media (min-width: 720px) {
    .nav-mobile {
         display: none;
} 

    }
  


/*navbar mobile END*/


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 93vh;
    padding: 20px;
    text-align: center;
    background: rgb(33,0,36);

}

